select {
    margin: 10px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    color: black;
    text-align: center;
    
    width: fit-content;
    height: 50px;
}