.homeCover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: table;
    width: 100%;
    z-index:0;
  
  }
  
  .homeTitle {    
    margin: 0 auto;
    vertical-align: center;
    margin-top: 25vh;
    width: 80vh;
  }

  
  @media (max-width: 1024px) {
    .homeTitle {
      width: 80%;
      margin-top:20vh;
    }
  }
  
  