.homeCover {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
  display: table;
  width: 100%;
  z-index: 0;
  font-size: 1.05rem;
  line-height: 1.8rem;
}

.homeCover > * > * {
  display: flex !important;
}

.homeTitle {
  margin: 0 auto;
  margin-top: 20vh;
  height: 100%;
  width: 40vh;
}

.homeCover span {
  max-width: 1600px;
  margin: 7vh 10% 7vh 10%;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: white;
}

.homeCover h1 {
  flex-basis: 100%;
  margin: 0 auto 1rem auto;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.accomplishments {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  gap: 30px;
  margin: 0 auto;
}

.accomplishments > * {
  flex: 1 1 0px;
  width: 0;
}

.button {
  color: white !important;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

@media (max-width: 600px) {
  .accomplishments {
    flex-wrap: wrap;
  }

  .accomplishments > * {
    flex-basis: 100%;
    width: 0;
  }
}

.section {
  padding: 5em 0;
}

/*
@media (max-width: 1000px) {
  .homeTitle {
    width: 70vh;
  }
}

@media (max-width: 600px) {
  .homeTitle {
    width: 60vh;
  }
}

@media (max-width: 500px) {
  .homeTitle {
    width: 50vh;
    margin: 30vh auto;
  }
}

@media (max-width: 400px) {
  .homeTitle {
    width: 40vh;
    margin: 35vh auto;
  }

  .container {
    width: 95%;
  }
}*/
