.content {
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  padding: 1.5rem 1rem;
}

.title {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.description {
  line-height: 1.7rem;
}

.section {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.section .sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image, .imageLeft {
  aspect-ratio: 3 / 2;
  border-radius: 10px;
  margin: auto;
}

.eventContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  border-bottom: solid 2px grey;
}

.eventDate {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.eventLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.eventTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.closedButton {
  color: #333333 !important;
}

.sponsors {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  line-height: 5em;
  gap: 0.5em;
  grid-template-rows: 5em 5em 5em;
}

.sponsorLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .eventContainer {
    grid-template-columns: 1fr;
  }

  .eventDate {
    text-align: start;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
  }

  .section {
    gap: 0;
    grid-template-columns: 1fr;
  }

  .imageLeft {
    order: 2;
  }

  .image, .imageLeft {
    margin: 2rem 0;
  }

  .sponsors {
    grid-template-columns: 1fr;
    grid-template-rows: 4em 5em 4em 5em 4em 5em;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 1rem;
  }
}