.table {
  width: 80%;
  margin: 0 auto;
  color: black;
  text-align: center;
  max-width: 1600px;
}

.row {
  margin-bottom: 5rem;
}

.year {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid #e0e0e0;
}

.nameRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #e0e0e0;
}

.nameRowTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1px;
  padding: 1rem;
  color: black;
}

.tableContent a {
  text-decoration: none;
  color: black;
}

.tableContent a:hover {
  text-decoration: none;
  color: #0a233d;
  text-decoration: underline;
}

.content {
  margin: 0 auto;
  width: 80%;
  padding: 1.5rem 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1068px) {
  .table {
    width: 100%;
  }
  .year {
    grid-template-columns: 1fr 2fr;
  }

  .nameRow {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nameRowTitle {
    grid-row: span 1 !important;
    grid-column: span 3;
    justify-content: left;
    padding: 1rem 0.5rem;
  }

  .row {
    margin-bottom: 3rem;
  }
}
