.content {
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  padding: 1.5rem 1rem;
}

.title {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.description {
  line-height: 1.7rem;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.logoImage {
  width: 75%;
  margin: 0 auto 2rem auto;
}

@media only screen and (max-width: 1000px) {
  .logoImage {
    width: 80%;
  }
}
