.content {
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  padding: 1.5rem 1rem;
}

.title {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.description {
  line-height: 1.7rem;
}

.imageContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 1000px) {
  .imageContainer {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 1rem;
  }
}
