.container{
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  line-height: 1.7rem;
}

.container h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsla(0,0%,0%,0.07);
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
      width: 95%;
      padding: 1rem;
  }
}
  
  