.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 3px solid #113d69;
  color: #113d69;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0.75em 1em;
  padding: 0.25em 1em;
}
