
.cards{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 5rem));
    grid-gap: 5rem;
    padding: 10px 10%;
    justify-content: center;
}


.container{
    justify-content: center;
    margin: 0 auto;
}


.title{
    margin: 0 auto;
    padding-top:1rem;
    font-size: 3rem;
    text-align:center;
    text-transform: uppercase;
}


@media only screen and (max-width : 500px){
    .cards{
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap:20px;
    }
    .title{
        margin: 0 auto;
        padding-top:1rem;
        font-size: 2.4rem;
        text-align:center;
        text-transform: uppercase;
    }
    .container{
        margin-left: 5%;
        margin-right: 5%;
    }
    
}


