.memberButtons{
  text-align:center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.inactiveButton{
  border-radius: 4px;
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
  height: 45px;
  border: none;
  cursor: pointer;
  outline: none;
  
  background-color: #eeeeee;
  color: black;
}

.inactiveButton:hover {
  background-color: #d8d8d8;
}

.activeButton{
  border-radius: 4px;
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  color:white;
  background-color:#0a233d;
  
  width: 200px;
  height: 45px;
}

.cards{
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 5rem));
  grid-gap: 5rem;
  padding: 10px 10%;
  justify-content: center;
}

.container{
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.breakCard {
  grid-column: span 2
}

.mobileDropdown {
  display: none !important;
}

@media only screen and (max-width: 1000px){
  .breakCard{
    display: none;
  } 
}

@media only screen and (max-width: 900px){
  .cards{
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 10px;
  }

  .container{
    margin-left: 5%;
    margin-right: 5%;
  }   
}

@media only screen and (max-width: 735px){
  .mobileDropdownContainer {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mobileDropdown {
    display: inline-flex !important;
    height: 45px;
    width: 200px;
    text-align: center;
    background-color:#0a233d !important;
    border: none !important;
    box-shadow: none !important;
    align-items: center;
  }

  .mobileDropdown span {
    color: white;
    padding-left: 20px;
    padding-right: 5px;
  }

  .memberButtons {
    display: none;
  }
}

@media only screen and (max-width: 500px){
  .cards{
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .container{
    margin-left: 5%;
    margin-right: 5%;
  }   
}


