body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-size: 1rem;
}

.container{
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  padding: 2rem;
  font-size: 1.05rem;
  line-height: 1.8rem;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 0px 5em;
  margin: 1em 1em;
}

.media {
  max-width:100%;
  max-height:100%;
}

.strategy-card {
  margin: 0.75em 1em 2em 1em;
}

.images {
  gap: 0px 1em;
}

@media only screen and (max-width: 1000px) {
  .mobile-grid {
    grid-template-columns: 1fr;
  }

  .mobile-grid > * > .media {
    margin: 0px 10%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 1rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    padding: 1rem;
    padding-bottom: 6rem;
  }
}