body {
  font-family: "Roboto";
  font-size: 1rem;
}

.container{
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  font-size: 1.05rem;
  line-height: 1.8rem;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 1rem;
    padding-bottom: 6rem;
  }
}