.header{
  text-align:center;
  margin: 1rem 0rem;
}

.name{
  margin: 2rem 0rem;
  text-align: center;
  color:black;
}

.email{
  text-align: center;
  margin-right:24px;
  color:black;
}

.textArea{
  text-align: center;
}

.submit{
  text-align: center;
  margin: 2rem 2rem;
}
.button{
  margin: 0 auto;
}

@media screen and (max-width: 1068px){
  .header{
      font-size:1.2rem;
  }
}

  