.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 1rem;
  }
}

.buttons {
  text-align: center;
}

.inactiveGroupButton {
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 500px;
  height: 60px;
  border: none;
  cursor: pointer;
  outline: none;

  background-color: #eeeeee;
  color: black;
}

.inactiveGroupButton:hover {
  background-color: #d8d8d8;
}

.activeGroupButton {
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #0a233d;

  width: 500px;
  height: 60px;
}

.noReport {
  text-align: center;
  padding-top: 50px;
}

.reportTypeButtons {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.yearDropdown {
  height: 45px;
  width: 140px;
  text-align: center;
  background-color: #eeeeee !important;
  border: none !important;
  box-shadow: none !important;
  align-items: center;
}

.dropdown {
  height: 45px;
  width: 200px;
  text-align: center;
  background-color: #eeeeee !important;
  border: none !important;
  box-shadow: none !important;
  align-items: center;
}

.searchBar {
  height: 45px;
  width: 357px;
}

.reportPost {
  width: 100%;
  max-width: 98rem;
  padding: 1rem;
  margin: 1rem;
  /* box-shadow: - 1.4rem 1rem rgba(0,0,0,0.2); this line does not do anything */
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

.separation hr {
  height: 0px;
  border-bottom: 8px solid #0a233d;
  border-radius: 4px;
}

.reportDate span {
  font-size: 0.9rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: black;
}

.reportText {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: rgba(0, 0, 0.7);
  text-align: left;
  line-height: 1.7rem;
}

.reportLink {
  display: inline-block;
  padding: 1rem 1rem;
  letter-spacing: 1px;
  margin: 2rem 2rem;

  min-width: 150px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-radius: 0.8rem;
  background-color: #0a233d;
}

.reportLink:hover {
  background-color: #113d69;
  text-decoration: none;
}

.reportTitle {
  font-size: 1rem;
  font-weight: 800;
}

@media screen and (max-width: 1068px) {
  .reportPost {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .reportText {
    display: none;
  }
  .reportLink {
    margin: 0.5rem 3rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .reportPost {
    padding: 0;
    flex-direction: column;
  }
  .reportTitle {
    margin-bottom: 1rem;
  }

  .reportTypeButtons {
    margin-bottom: 2rem;
  }

  .reportTypeButtons button {
    margin-bottom: 2rem;
  }
}
