/* Order */
@layer reset, primereact;

/* Reset CSS */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  #root,
  #__next {
    isolation: isolate;
  }

  dropdown,
  .p-highlight.p-paginator-element {
    color: white;
    background-color: #0a233d;
  }

  .p-input-icon-left > i:first-of-type {
    left: 0.75rem;
    color: #495057;
  }

  .p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
  }

  .p-dropdown-panel {
    color: blue;
  }
  .p-focus {
    background-color: transparent;
    color: black;
  }
  .p-highlight {
    background-color: transparent;
    color: black;
  }
  .p-dropdown-items {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
  .p-dropdown-item {
    padding-left: 1.45rem !important;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    margin-bottom: 0 !important;
  }
  .p-dropdown-item:hover {
    background-color: #eeeeee;
    -webkit-transition: background 1s;
    transition: background 0.1s;
  }

  .p-paginator {
    gap: 2px;
  }

  .p-paginator-pages {
    display: flex;
    gap: 4px;
  }

  .p-paginator-element {
    border: none;
    border-radius: 0.8rem;
    color: black;
  }
}
