.pageCover {
  /* background-color:#ebebeb; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 35vh;
  color: white;
  /* display: table; */
  display: flex;
  align-items: center;
  width: 100%;
  z-index:0;
}

.pageTitle {    
  margin: 0 auto;
  color: #f2f2f2;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  padding-top:12vh;
  text-align:center;
  font-size:5rem;
  display:table;
  font-weight:700;
}


@media (max-width: 1024px) {
  .pageTitle {
    width: 90%;
    font-size:3rem;
    display:table;
  }
}
  
  